
body{
    margin:0;

}
.banner{
    background-color: #411016;
    color: white;
    text-align: center; 
    /* width: 1366px;  */ 
    height: 40.55px;
}
.banner h3{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    padding-top: 10px;
}
.logo{
    position: absolute;
    left: 122px;
    top: 38px;
    width: 160px;
    height: 170px;
}
.contenedor1{
    display: flex;
    background-color: #F4F4F4;
    align-items: center;
    justify-content: center;
   height: 90px; 
      
}

.icono-placeholder{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 449px;
    top: 63px;
    border-radius: 20px;
    width: 600px;
    height: 40px;
    text-align: center;


}
.lupa{
    position: relative;
    left: 50px;
    width: 24px;
    height: 24px;
    z-index: 2;
}

.corazon{
    position: relative;
    left: 243px;
    width: 24px;
    height: 24px;
    
}
.persona{
    position: relative;
    left: 300px;
    width: 24px;
    height: 24px;
}
.canasta{
    position: relative;
    width: 32px;
    height: 30px;
    left: 357px;

}
.menu{
    margin: 0;
    display: flex;
    align-items: center;
    background-color: #F4F4F4;
    height: 47px;
    /* top: 128px; */
    list-style: none;
    justify-content: space-evenly;

}
.menpro{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #411016;
    width: 70px;
    height: 18px;
    left: 369px;
    top: 145px;
    

}.mennov{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #411016;
    width: 75px;
    height: 18px;
    left: 654px;
    top: 145px;
    /* position: absolute; */
}
.menofe{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #411016;
    width: 58px;
    height: 18px;
    left: 944px;
    top: 145px;
    /* position: absolute; */
}
.img1{
    width: 100%;
    /* height: 410.51px; */
    left: 0px;
    top: 174px;
    background: #F4F4F4
}
.bloque2{
    background: #F4F4F4
}
.titulo1{
    margin: 0;
    position: absolute;
    width: 286px;
    height: 85px;
    left: 163px;
    top: 256px;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    line-height: 64px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}
.sabor{
    position: absolute;
    width: 402px;
    height: 55px;
    left: 163px;
    top: 348px;
    background: #000000;
    
}
.sabor h2{
    height: 42.92px;
    left: 185px;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 50.7213px;
    line-height: 125px;
    display: flex;
    align-items: center;
    margin: 0;
    padding-top: 10px;
    padding-left: 20px;
    background-color: white;
}
.conoce{
    background: #D70021;
    border-radius: 100px;
    position: relative;
    width: 180px;
    height: 45px;
    left: 163px;
    top: -130px;
    border-width:0;
    font-size: 15px;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}
.imagenes{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4F4F4
}
.banner212{
    margin: 0 35px 0;
}
.categorias{
    margin: 0;
    background: #F4F4F4;
}
.catimg{
    display: flex;
    align-items: center;
    justify-content: center;

}

.img15, .img17{
    margin: 0 35px 0;
}
.categorias h2{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 0;  
    padding: 38px 0;
}
.recimg{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.recomendados{
    margin: 0;
    background: #F4F4F4;
}
.recomendados h2{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 0;
    padding: 30px;
}
.img139, .img138, .img137, .img136{
    background: #FFFFFF;
    border-radius: 20px;
    margin: 18px;
}
.conte1{
    margin: 0;
    padding: 0;
    text-align: -webkit-center;
    display: flex;
    position: relative;
}
.conte1 h2{
    font-family: Lato;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    padding: o;
    padding: 0;
    width: 260px;
}
.conte1 h3{
    font-family: Lato;
    font-size: 16px;
    line-height: 18px;
    color: #777777;
}

.precio, span, .primero{
    font-family: Lato;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
    text-decoration-line: line-through;
}
.precio, span, .segundo{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    text-decoration-line: none;
}

.boton{
    background: #D70021;
    border-radius: 100px;
    width: 180px;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;      
    display: flex;
    margin: 10px 0 50px;
    padding: 20px;
    flex-direction: column;
           
}
.boton:hover{     
       background: #411016;
}
/* .botonn{
    background: #411016;
    border-radius: 100px;   
    width: 180px;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;      
    display: flex;
    margin: 30px;
    padding: 20px;
    flex-direction: column;
} */
.vista{
    background: #777777;
    opacity: 0.5;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    font-family: Lato;
    color: #FFFFFF;
    width: 260px;
    height: 41px;
    flex-direction: column;
    margin: -64px 0;
}
.vista2{
    margin-top: 89px;
}
.vista:hover{
    background: #411016;
}
.conte1 h5{
    background-color: red;
    margin: 0 93px;
    position: relative;
    left: -66px;
    top: 50px;
    font-family: Lato;
    color: white;
    width: 121px;
    height: 27px;
    border-radius: 13.5px;
    background: #C5292C;
}

.cafe{
    width: 100%;
    
}
.imgcafe{
    background: #F4F4F4;
}
.recimg h2{
    font-family: Lato;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    padding: o;
    padding: 0;
    width: 260px;
}
.lanzamientos{
    margin: 0;
    background: #F4F4F4;
}
.lanzamientos h2{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 0;
    padding: 30px;

}
/* .paquete{
    font-family: Lato;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    padding: o;
    padding: 0;
    width: 260px;
} */
.conte2{
    margin: 0;
    padding: 0;
    text-align: -webkit-center;
    display: flex;
    position: relative;
}
.conte2 h2{
    font-family: Lato;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    padding: o;
    padding: 0;
    width: 260px;
}
.conte2 h3{
    font-family: Lato;
    font-size: 16px;
    line-height: 18px;
    color: #777777;
} 
.conte2 h5{
    background-color: red;
    margin: 0 93px;
    position: relative;
    left: -66px;
    top: 50px;
    font-family: Lato;
    color: white;
    width: 121px;
    height: 27px;
    border-radius: 13.5px;
    background: #C5292C;
}
.heart{
    position: relative;
    left: 93px;
    bottom: 366px;
    width: 24.36px;
    height: 21;
    height: 21px;

}.heart:hover{
    border: #C5292C;
}






